@model DesingPattern.Facade.DAL.Order
@{
    ViewData["Title"] = "OrderStart";
    Layout = "~/Views/Shared/_FacadeLayout.cshtml";
}

<h1>Order Page</h1>

<form method="post">
    <label>Customer ID</label>
    <input type="text" asp-for="CustomerID" class="form-control" />
    <br />
    <button class="btn btn-warning">Create Order</button>
</form>
