@model DesingPattern.Facade.DAL.Product

@{
    ViewData["Title"] = "AddNewProduct";
    Layout = "~/Views/Shared/_FacadeLayout.cshtml";
}

<h1>Add New Product</h1>

<form method="post">
    <label>Product Name</label>
    <input type="text" class="form-control" asp-for="ProductName" />
    <br />
    <label>Product Stock COunt</label>
    <input type="text" class="form-control" asp-for="ProductStock" />
    <br />
    <label>Product Price</label>
    <input type="text" class="form-control" asp-for="ProductPrice" />
    <br />
    <label>Product Category</label>
    <input type="text" class="form-control" asp-for="ProductCategory" />
    <br />
    <button class="btn btn-primary">Add New Product</button>
</form>
