@model List<DesingPattern.Facade.DAL.Product>

@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Views/Shared/_FacadeLayout.cshtml";
}


<h2>Product List</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Product Stock Count</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductID</td>
            <td>@item.ProductName</td>
            <td>@item.ProductPrice</td>
            <td>@item.ProductStock</td>
        </tr>
    }
</table>
<a href="/Product/AddNewProduct" class="btn btn-primary">Add New Product</a>