@model List<DesignPattern.CQRS.CQRSPattern.Results.GetProductQueryResult>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Detail</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
    
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td>@item.Name</td>
                    <td>$@item.Price</td>
                    <td>@item.Stock</td>
                <td><a href="/Default/GetProduct/@item.ProductId" class="btn btn-secondary">Detail</a></td>
                <td ><a href="/Default/DeleteProduct/@item.ProductId" class="btn btn-danger">Delete</a></td>
                <td> <a href="/Default/UpdateProduct/@item.ProductId" class="btn btn-warning">Update</a></td>
                </tr>
            }
    
    </table>

    <a href="/Default/AddProduct" class="btn btn-primary">Add New Product</a>
</div>
